/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroLogo {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

.heroBanner h1 {
    white-space: nowrap;
    font-size: clamp(1.8rem, 5vw, 3.5rem);
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.buttons a {
    margin: 5px;
}

.features {
    padding: 4rem 0;
}

.newsSection {
    padding: 3rem 0;
}

.resources {
    padding: 3rem 0;
}

.hardware {
    padding: 3rem 0;
}

@media screen and (max-width: 996px) {
    .features,
    .newsSection,
    .resources,
    .hardware {
        padding: 2rem 0;
    }
}
